.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
}

#cats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  display: flex;
  width: 20%;
  display: inline-block;
  background-color: tomato;
  font-size: 5ems;
  margin: 2%;
  padding: 2%;
  list-style: none;
  border: 5px;
  border-style: double;
}

.catInfo {
  color: white;
}


img {
  width: 100%;
}
